.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/*.iml
/PushSDK/PushSDK.iml
/PushSDK/gen/
/PushSDK/build/
/PushSDK/bin/
/PushSDK/.project
/PushSDK/.classpath
/.settings/
/.classpath
/.project